{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}
    {{image.title}}
{% endblock %}

{% block content %}
    <h1>{{image.title}}</h1>
    {% thumbnail image.image "800" as im %}
    <a href="{{image.image.url}}">
        <img src="{{im.url}}">
        </a>
    {% endthumbnail %}
    <p>{{image.description}}</p>
{% with users_like=image.users_like.all  count=image.users_like.count%}
<span>{{total_views}} views</span><br>
<span ><span class="count">{{count}}</span> likes</span>
    <a href="#"  data-id="{{image.id}}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like">
        {% if request.user in users_like %}
        Unlike
        {% else %}
        Like
        {% endif %}
    </a>
<br><br><span>Added by <a href="{% url 'people:user_detail' image.user.id %}">{{image.user.username}}</a></span>
<div class="comments"> {% include 'comments/comments_ajax.html' %}</div>
<div class="comment_form">
    <textarea cols="5" style="width:100%" id="comment_text"></textarea>
    <a href="#" class="comment_btn" data-id="{{image.id}}">Отправить</a>
</div>
{% endwith %}
{% endblock %}

{% block domready %}
    $('a.comment_btn').click(function(e){
      e.preventDefault();

      if($('#comment_text').val() != '')(
      $.post("{% url 'comments:add_comment' %}",
          {id: $('a.comment_btn').data('id'),
          text: $('#comment_text').val()},
          function(data) {
            $('#comment_text').val('');
          $('div.comments').append(data);
          }
      ));
    });



    $('a.like').click(function(e) {
    e.preventDefault();
    $.post("{% url 'images:image_like' %}",
            {id: $(this).data('id'),
            action: $(this).data('action')},
            function(data) {
                if (data['status'] == 'ok') {
                    let previous_action = $('a.like').data('action');
                    console.log(previous_action);
                    $('a.like').data('action', previous_action == 'like'? 'unlike': 'like');
                    $('a.like').text(previous_action == 'like'? 'Unlike': 'Like')
                    $('span.count').text(previous_action == 'like'? parseInt($('span.count').text()) + 1: parseInt($('span.count').text()) - 1)
                }
            })
    })
{% endblock %}