{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
    Images
{% endblock %}

{% block content %}
<h1>Images</h1>
<p>ON this page you can see al pictures on our site. Also you can <a href="{% url 'images:add'%}">add image</a></p>
<p>Also you can check most popular images<a href="{% url 'images:ranking' %}"> here</a></p>
<div id="image_list">
    {% include "images/images_ajax.html" %}
    </div>
{% endblock %}

{% block domready %}
        var page = 1;
        let empty_page = false;
        $(window).scroll(function(){
          if(document.documentElement.getBoundingClientRect().bottom < document.documentElement.clientHeight + 100 && !empty_page) {
            page +=1;
            $.get("{% url 'images:images' page=12345 %}".replace(/12345/, page.toString()), function(data) {
                    if(data == '') {empty_page = true;}
                    else{
                       $("#image_list").append(data);
                    }
                });
            }
        });

{% endblock %}