{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

<header class="container-fluid">
<div class="container hmenu">
    <div class="row">
        <div class="col-6">
    <span class="logo">SOcio-club</span>
            </div>
        <div style="text-align: right" class="col-6">
    <span class="user" style="text-align: right">
        {% if request.user.is_authenticated  %}
        Hello, {{ request.user.first_name }}
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a><br>
        <a href="{% url 'register' %}">Registration</a>
        {% endif %}
    </span>
            </div>
        </div>
    <ul>
        <li class="menu"><a href="{% url 'main' %}">My dashboard</a></li>
         <li class="menu"><a href="{% url 'images:add' %}">Add images</a></li>
         <li class="menu"><a href="{% url 'images:images' 1 %}">Images</a></li>
         <li class="menu"><a href="{% url 'people:people' 1 %}">People</a></li>
    </ul>
</div>
</header>
<div class="container">
{% block content %}
{% endblock %}
</div>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{message.tags}}">
                {{ message|safe }}
                <a href="#" class="close">x</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script>
 let csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({beforeSend: function(xhr, settings){
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
        }
    });
    $(document).ready(function(){
        {% block domready %}
        {% endblock %}
    });
    </script>
</body>
</html>