{% extends 'base.html' %}

{% block title %}
    {{user.first_name}} {{user.last_name}}
{% endblock %}

{% block content %}
<h1>{{user.first_name}} {{user.last_name}}</h1>
<div class="row">
    <div class="col-6">
        {% load thumbnail %}
        {% thumbnail profile.photo "400x400" crop="100% top" as im %}
            <img src="{{im.url}}">
        {% endthumbnail %}
    </div>
    <div class="col-6">
        <ul>
            <li>name:{{user.first_name}}</li>
            <li>last_name:{{user.las_name}}</li>
            <li>birthdate:{{profile.date_birth}}</li>
        </ul>
    </div>
</div>
<h2>Last added images</h2>
<div id="image-list">
    {% for image in images %}
    <a href="{{image.get_absolute_url}} ">
    {% thumbnail image.image "100x100" crop="100%" as im %}
        <img src="{{im.url}}">
    {% endthumbnail %}
        </a>
    {% endfor %}
</div>
{% endblock %}